<div class="submit-form">
  <!-- R1 -->

  {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} | 
  {{ tutorial.fuerzavoluntadM }} - {{ tutorial.fuerzavoluntadL }} |
  {{ tutorial.obedienteM }} - {{ tutorial.obedienteL }} | 
  {{ tutorial.aventureroM }} - {{ tutorial.aventureroL }} |
  <br>
  

  {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
  {{ tutorial.menteabiertaM }} - {{ tutorial.menteabiertaL }} |
  {{ tutorial.quisquillosoM }} - {{ tutorial.quisquillosoL }} |
  {{ tutorial.receptivoM }} - {{ tutorial.receptivoL }} |
  <br>

  {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
  {{ tutorial.complacienteM }} - {{ tutorial.complacienteL }} |
  {{ tutorial.inconquistableM }} - {{ tutorial.inconquistableL }} |
  {{ tutorial.cordialM }} - {{ tutorial.cordialL }} |
  <br>

  {{ tutorial.originalM }} - {{ tutorial.originalL }} |
  {{ tutorial.animosoM }} - {{ tutorial.animosoL }} |
  {{ tutorial.juguetonM }} - {{ tutorial.juguetonL }} |
  {{ tutorial.moderadoM }} - {{ tutorial.moderadoL }} |
  <br>
  <br>

    <!-- R2 -->
<!--
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} | 
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} |
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} | 
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} |
    <br>
    
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    <br>
  
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    <br>
  
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    <br>
    <br>
-->
      <!-- R3 -->
<!--
  {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} | 
  {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} |
  {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} | 
  {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} |
  <br>
  
  {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
  {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
  {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
  {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
  <br>

  {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
  {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
  {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
  {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
  <br>

  {{ tutorial.originalM }} - {{ tutorial.originalL }} |
  {{ tutorial.originalM }} - {{ tutorial.originalL }} |
  {{ tutorial.originalM }} - {{ tutorial.originalL }} |
  {{ tutorial.originalM }} - {{ tutorial.originalL }} |
  <br>
  <br>
-->
    <!-- R4 -->
<!--
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} | 
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} |
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} | 
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} |
    <br>
    
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    <br>
  
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    <br>
  
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    <br>
    <br>
-->
      <!-- R5 -->
<!--
  {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} | 
  {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} |
  {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} | 
  {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} |
  <br>
  
  {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
  {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
  {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
  {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
  <br>

  {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
  {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
  {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
  {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
  <br>

  {{ tutorial.originalM }} - {{ tutorial.originalL }} |
  {{ tutorial.originalM }} - {{ tutorial.originalL }} |
  {{ tutorial.originalM }} - {{ tutorial.originalL }} |
  {{ tutorial.originalM }} - {{ tutorial.originalL }} |
  <br>
  <br>
-->
    <!-- R6 -->
<!--
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} | 
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} |
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} | 
    {{ tutorial.persuasivoM }} - {{ tutorial.persuasivoL }} |
    <br>
    
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    {{ tutorial.gentilM }} - {{ tutorial.gentilL }} |
    <br>
  
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    {{ tutorial.humildeM }} - {{ tutorial.humildeL }} |
    <br>
  
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    {{ tutorial.originalM }} - {{ tutorial.originalL }} |
    <br>
    <br>
-->
  <div *ngIf="!submitted">


    <div class="form-group">
      <label for="description">Nombre completo</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="tutorial.nombre"
        name="description"
      />
    </div>


    <div class="form-group">
      <label for="description">Folio</label>
      <input
        class="form-control"
        id="facebook"
        required
        [(ngModel)]="tutorial.facebook"
        name="facebook"
      />
    </div>


    <div class="form-group">
      <label for="description">Puesto </label>
      <select
        class="form-control"
        id="programaInteres"
        required
        [(ngModel)]="tutorial.programaInteres"
        name="programaInteres"
      >
      <option value="lae">Ingreso a MEIT</option>
      
      </select>
    </div>

    <!-- 1 -->
    <div class="form-group">
      <label for="title"><h4>Pregunta 1</h4></label>
      
      <table>
      <tr>
        <td></td>
        <td><b>M</b>ore</td>
        <td><b>L</b>ess</td>
      </tr>
      
      <tr>
        <td>PERSUASIVO</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM1(0)"
           value="0"
           name="m1"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL1(0)"
          value="0"
          name="l1"
        />
      </tr>
      
      <tr>
        <td>GENTIL</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM1(1)"

           value="1"
           name="m1"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL1(1)"

          value="1"
          name="l1"
        />
      </tr>

      <tr>
        <td>HUMILDE</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM1(2)"

           value="2"
           name="m1"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL1(2)"
          value="2"
          name="l1"
        />
      </tr>

      <tr>
        <td>ORIGINAL</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM1(3)"
           value="3"
           name="m1"
           />
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL1(3)"
          value="3"
          name="l1"
        />
      </tr>

    
    </table>
      



    </div>
        
    <!-- 2 -->
    <div class="form-group">
      <label for="title"><h4>Pregunta 2</h4></label>
      
      <table>
      <tr>
        <td></td>
        <td><b>M</b>ore</td>
        <td><b>L</b>ess</td>
      </tr>
      
      <tr>
        <td>FUERZA DE VOLUNTAD</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM2(0)"
           value="0"
           name="m2"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL2(0)"
          value="0"
          name="l2"
        />
      </tr>
      
      <tr>
        <td>MENTE ABIERTA</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM2(1)"

           value="1"
           name="m2"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL2(1)"

          value="1"
          name="l2"
        />
      </tr>

      <tr>
        <td>COMPLACIENTE</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM2(2)"

           value="2"
           name="m2"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL2(2)"
          value="2"
          name="l2"
        />
      </tr>

      <tr>
        <td>ANIMOSO</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM2(3)"
           value="3"
           name="m2"
           />
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL2(3)"
          value="3"
          name="l2"
        />
      </tr>

    
    </table>
      



    </div>

    <!-- 3 -->
    <div class="form-group">
      <label for="title"><h4>Pregunta 3</h4></label>
      
      <table>
      <tr>
        <td></td>
        <td><b>M</b>ore</td>
        <td><b>L</b>ess</td>
      </tr>
      
      <tr>
        <td>OBEDIENTE</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM3(0)"
           value="0"
           name="m3"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL3(0)"
          value="0"
          name="l3"
        />
      </tr>
      
      <tr>
        <td>QUISQUILLOSO</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM3(1)"

           value="1"
           name="m3"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL3(1)"

          value="1"
          name="l3"
        />
      </tr>

      <tr>
        <td>INCONQUISTABLE</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM3(2)"

           value="2"
           name="m3"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL3(2)"
          value="2"
          name="l3"
        />
      </tr>

      <tr>
        <td>JUGUETON</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM3(3)"
           value="3"
           name="m3"
           />
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL3(3)"
          value="3"
          name="l3"
        />
      </tr>

    
    </table>
      



    </div>

    <!-- 4 -->
    <div class="form-group">
      <label for="title"><h4>Pregunta 4</h4></label>
      
      <table>
      <tr>
        <td></td>
        <td><b>M</b>ore</td>
        <td><b>L</b>ess</td>
      </tr>
      
      <tr>
        <td>AVENTURERO</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM4(0)"
           value="0"
           name="m4"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL4(0)"
          value="0"
          name="l4"
        />
      </tr>
      
      <tr>
        <td>RECEPTIVO</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM4(1)"

           value="1"
           name="m4"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL4(1)"

          value="1"
          name="l4"
        />
      </tr>

      <tr>
        <td>CORDIAL</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM4(2)"

           value="2"
           name="m4"/>
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL4(2)"
          value="2"
          name="l4"
        />
      </tr>

      <tr>
        <td>MODERADO</td>
        <td>
          <input
           type="radio"
           class="form-control"
           (click)="setM4(3)"
           value="3"
           name="m4"
           />
        </td>
        <td>
        <input
          type="radio"
          class="form-control"
          (click)="setL4(3)"
          value="3"
          name="l4"
        />
      </tr>

    
    </table>
      



    </div>

<!--
    <div class="form-group">
      <label for="description">Apellido Materno</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="tutorial.appMaterno"
        name="description"
      />
    </div>
---->
    <!--

    <div class="form-group">
      <label for="description">Otra carrera no listada </label>
      <input
        class="form-control"
        id="otroPrograma"
      
        [(ngModel)]="tutorial.otroPrograma"
        name="otroPrograma"
      />
    </div>


    <div class="form-group">
      <label for="description">Bachillerato de procedencia</label>
      <select
        class="form-control"
        id="bachilleratoProcedencia"
        required
        [(ngModel)]="tutorial.bachilleratoProcedencia"
        name="bachilleratoProcedencia"
      >
      <option value="cobaev06">Colegio Bachilleres 06 de Nogales</option>
      <option value="cobaevmaltrata">Colegio Bachilleres Maltrata</option>
      <option value="cobaevcordoba">Colegio Bachilleres Cordoba</option>
      <option value="cetisrioblanco">Cetis de Rio Blanco</option>
      <option value="conaleporizaba">Conalep Orizaba</option>
      <option value="cbtisixtac">CBTIS Ixtac</option>
      <option value="cbtisfortin">CETIS fortin</option>
      <option value="cbtiscordoba">CBTIS Cordoba</option>
      <option value="cbtischicola">CBTIS Chicola</option>
      <option value="esbo">ESBO Orizaba</option>
      <option value="colmexorizaba">Colegio Mexico Orizaba</option>
      <option value="esbao">ESBAO Cordoba</option>
      <option value="prepaunivo">Univo preparatoria</option>
      <option value="angloorizaba">Colegio Anglo Frances Orizaba</option>
      <option value="oxford">Colegio Oxford Cordoba</option>
      <option value="ceico">CEICO Orizaba</option>
      <option value="cpo">CPO Orizaba</option>
      <option value="guillaumin">GUILLAUMIN preparatoria</option>
      <option value="hispanoorizaba">Hispano Orizaba</option>
      <option value="hispanocordoba">Hispano Cordoba</option>
      <option value="eba">Escuela de Bachilleres America Cd Mendoza</option>
      <option value="other">Otro bachillerato, especifique ... </option>
      
      </select>
    </div>

    <div class="form-group">
      <label for="description">Otra bachillerato no listado </label>
      <input
        class="form-control"
        id="otroBachillerato"
      
        [(ngModel)]="tutorial.otroBachillerato"
        name="otroBachillerato"
      />
    </div>

    <div class="form-group">
      <label for="description">Telefono</label>
      <input
        class="form-control"
        id="telefono"
        required
        [(ngModel)]="tutorial.telefono"
        name="telefono"
      />
    </div>

    <div class="form-group">
      <label for="description">e-mail</label>
      <input
        class="form-control"
        id="email"
        required
        [(ngModel)]="tutorial.email"
        name="email"
      />
    </div>
  -->
    
    <button (click)="saveTutorial()" class="btn btn-success">Registrarme</button>
  </div>

  <div *ngIf="submitted">
    <h4>Te has registro exitosamente!</h4>
    <h3>Felicidades!</h3>

    <!--
    <button class="btn btn-success" (click)="newTutorial()">Add</button>
    -->
  </div>
</div>