<div class="list row">
  <div class="col-md-6">
    
    <div class="form-group">
      <label for="description">Filtrar por Carrera </label>
      <select
        class="form-control"
        id="programaInteres"
        required
        [(ngModel)]="programaInteres"
        name="programaInteres"
        (change)="retrieveTutorialsByProgram()"
      >
      <option value="MEIT2024">MEIT 2024</option>
      
      </select>
    </div>

    <h3>{{n}} estudiantes </h3>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)"
      >
       {{i+1}}  {{tutorial.appPaterno}}-{{tutorial.appMaterno}}, {{tutorial.nombre}}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentTutorial">
      <app-tutorial-details
        (refreshList)="refreshList()"
        [tutorial]="currentTutorial"
      ></app-tutorial-details>
    </div>

    <div *ngIf="!currentTutorial">
      <br />
      <p>Seleccione un estudiante ...</p>
    </div>
  </div>
</div>